* {
    margin:0;
    padding:0;

}

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background-image: linear-gradient(#fcfcfc, #22daca);
    font-family: 'Roboto', sans-serif;
    align-items: center;
}

header {
    width:100%;
    height: 12vh;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;
}

section {
    width:80vw;
    height: 88vh;
    display:flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
}

.quarter {
    display:flex;
    flex-direction: column;
    width: 30vw;
    height: 30vh;
    align-items: center;
    border: 2px solid  	#C0C0C0;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 5px 5px 4px rgba(0, 0, 0, 0.25);
}

.new_task {
    background-color: darkgrey;
    width: 80%;
    height: 15%;
    display: flex;
    align-items: center;
}

.add_task {
    height:100%;
    width: 10%;
    background-color: darkgrey;
    height: 90%;
    border-style: none;
    cursor: pointer;
}

input {
    display: block;
    width: 90%;
    border-style: none;
    height: 90%;
    background-color: darkgrey;
    cursor: pointer;
}

input:focus {
    background-color: #DCDCDC;
}

.quarter_header {
    margin-top: 2%;
    margin-bottom: 2%;
}