* {
    margin:0;
    padding:0;

}

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background-image: linear-gradient(#fcfcfc, #22daca);
    font-family: 'Roboto', sans-serif;
    align-items: center;
}

header {
    width:100%;
    height: 12vh;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;
}

section {
    width:80vw;
    height: 88vh;
    display:flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
}

.quarter {
    display:flex;
    flex-direction: column;
    width: 30vw;
    height: 30vh;
    align-items: center;
    border: 2px solid  	#C0C0C0;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 5px 5px 4px rgba(0, 0, 0, 0.25);
    overflow-y: auto;
}

.new_task {
    background-color: rgb(51, 189, 194);
    width: 80%;
    height: 15%;
    display: flex;
    align-items: center;
    border-radius: 25px;
}

.add_task {
    height:100%;
    width: 10%;
    background: rgb(19,187,186);
    background: linear-gradient(90deg, rgba(19,187,186,1) 45%, rgba(17,129,128,1) 88%);
    height: 90%;
    border-style: none;
    cursor: pointer;
    border-radius: 25px;
}

.add_task:hover {
    background: rgb(19,187,186);
    background: radial-gradient(circle, rgba(19,187,186,1) 11%, rgba(17,129,128,1) 39%, rgba(19,187,186,1) 76%);
}

.add_task:active {
    background: rgb(19,187,186);
    background: radial-gradient(circle, rgba(19,187,186,1) 11%, rgba(19,187,186,1) 46%, rgba(17,129,128,1) 87%);
    transform: translateY(1px);
}

.new_task > input {
    display: block;
    width: 85%;
    border-style: none;
    height: 90%;
    background-color: #e9e9e9;
    color: rgb(0, 0, 0);
    cursor: pointer;
    border-radius: 25px;
    text-indent: 1em;
    font-size: 1em;
}

.new_task > input:hover{
    background-color: rgb(240, 240, 240);
}

::placeholder {
    color: rgb(175, 175, 175);
  }

.quarter_header {
    margin-top: 2%;
    margin-bottom: 2%;
    letter-spacing: 1px;
    word-spacing: 1px;
    font-weight: 700;
    text-decoration: rgb(68, 68, 68);
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

footer {
    margin-bottom: 1%;
}

.task {
    display: flex;
    flex-direction: row;
    background: rgb(19,187,186);
    background: radial-gradient(circle, rgba(19,187,186,1) 11%, rgba(19,187,186,1) 31%, rgba(17,129,128,1) 63%);
    margin-top: 1%;
    width: 80%;
    height: 15%;
    border-radius: 25px;
    animation: fadeIn;
    animation-duration: 2s;
}

.content_handler {
    display: block;
    width:80%;
    margin-left: 10%;
    line-height: 2rem;
    margin-top: 2%;
}

.mark > input {
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    display: block;
    border-radius: 5px;
    margin-left: 50%;
    height: 1vw;
    width: 1vw;
    background-color: #eee;
    cursor: pointer;
}

.mark:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
.mark input:checked ~ .checkmark {
    background-color: #15b6b6;
  }
  
.checkmark:after {
    content: "";
    display: none;
  }
  
.mark input:checked ~ .checkmark:after {
    display: block;
  }
  
.mark .checkmark:after {
    margin-left: 0.55em;
    width: 0.3125em;
    height: 0.625em;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

.delete {
    display: block;
    width: 10%;
    height: 75%;
    margin-top: 0.3em;
    margin-right: 5%;
    border-style: none;
    padding: 1em 2em;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: rgb(255, 0, 0);
    border: none;
    border-radius: 15px;
    box-shadow: 0 0.4em #999;
}
  
.delete:hover {background-color: #bb0000}
  
.delete:active {
    background-color: #7e0000;
    box-shadow: 0 0.4em #666;
    transform: translateY(0.125em);
}

.markAsDone {
    text-decoration-line: line-through;
}

.edit {
    color: black;
    background: transparent;
    border: none;
    cursor: pointer;
    height: 50%;
    width: 2em;
    margin-top: 0.8em;
    margin-right: 1em;
    font-size: 1em;
    border-radius: 1em;
}

.edit:hover {
    background-color: rgb(38, 187, 187);
    -webkit-transition: 1s linear;
    -ms-transition: 1s linear;
    transition: 1s linear;
}